// vim: syntax=groovy expandtab
// BACTpipe Nextflow configuration file

manifest {
    homePage = 'https://bactpipe.readthedocs.io'
    description = 'BACTpipe - whole genome assembly, species identification and annotation pipeline'
    mainScript = 'bactpipe.nf'
}

process.container = "boulund/bactpipe:2.2-dev"
docker.enabled = true

profiles {
    local {
        includeConfig 'conf/local.config'
    }
    milou {
        includeConfig 'conf/milou.config'
    }
    ctmrnas {
        includeConfig 'conf/ctmrnas.config' 
    }
    rackham {
        includeConfig 'conf/rackham.config'
    }
} 
